.env
venv/
__pycache__/
.streamlit/secrets.toml

data/raw/
data/processed/*
!data/processed/products.csv

models/*.pkl
models/*.index

!models/collaborative_similarity.pkl
!models/collaborative_product_ids.pkl

src/__pycache__/